1.Write a python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [3]:
soup = BeautifulSoup(page.content)
res=soup.find_all(['h1','h2','h3','h4','h5','h6'])

In [4]:
allres=[]
for i in soup.find_all(['h1','h2','h3','h4','h5','h6']):
    allres.append(i.text)
    
allres

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 '\nSearch\n']

2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [5]:
page1 = requests.get("https://www.imdb.com/list/ls091520106/")
page1

In [6]:
soup=BeautifulSoup(page1.content)

In [7]:
monameall=[]
for i in soup.find_all('h3',class_="lister-item-header"):
    monameall.append(i.text.replace('\n',''))

In [8]:
morateall=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    morateall.append(i.text.replace('\n',''))

In [9]:
moyearall=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    moyearall.append(i.text)

In [10]:
print(len(monameall),len(morateall),len(moyearall))

100 100 100

In [11]:
import pandas as pd
df=pd.DataFrame({'Name':monameall,'year':moyearall,'rating':morateall})
df.sort_values(by=['rating'],ascending=False)

                                                 Name    year rating
0                    1.The Shawshank Redemption(1994)  (1994)    9.3
1                               2.The Godfather(1972)  (1972)    9.2
3                             4.The Dark Knight(2008)  (2008)    9.1
2                      3.The Godfather: Part II(1974)  (1974)      9
4                                5.12 Angry Men(1957)  (1957)      9
..                                                ...     ...    ...
86                      87.Inglourious Basterds(2009)  (2009)    8.3
82                            83.Reservoir Dogs(1992)  (1992)    8.3
81                                 82.Toy Story(1995)  (1995)    8.3
80  81.Star Wars: Episode VI - Return of the Jedi(...  (1983)    8.3
99                                  100.The Kid(1921)  (1921)    8.3

[100 rows x 3 columns]

3)Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame

In [12]:
page = requests.get("https://www.imdb.com/list/ls009997493/")
page

In [13]:
soupi=BeautifulSoup(page.content)

In [14]:
monamealli=[]
for i in soupi.find_all('h3',class_="lister-item-header"):
    monamealli.append(i.text.replace('\n',''))

In [15]:
moratealli=[]
for i in soupi.find_all('div',class_="ipl-rating-star small"):
    moratealli.append(i.text.replace('\n',''))

In [16]:
moyearalli=[]
for i in soupi.find_all('span',class_="lister-item-year text-muted unbold"):
    moyearalli.append(i.text)

In [17]:
import pandas as pd
df=pd.DataFrame({'Name':monamealli,'year':moyearalli,'rating':moratealli})
df.sort_values(by=['rating'],ascending=False)

                                Name    year rating
30                  31.Golmaal(1979)  (1979)    8.6
28             29.Black Friday(2004)  (2004)    8.5
1                   2.3 Idiots(2009)  (2009)    8.5
2           3.Taare Zameen Par(2007)  (2007)    8.4
40                   41.Masoom(1983)  (1983)    8.4
..                               ...     ...    ...
93  94.Jaane Tu... Ya Jaane Na(2008)  (2008)    7.5
97      98.Shatranj Ke Khilari(1977)  (1977)    7.5
99           100.Ek Hasina Thi(2004)  (2004)    7.5
76             77.Socha Na Tha(2005)  (2005)    7.4
96                 97.Rangeela(1995)  (1995)    7.4

[100 rows x 3 columns]

4) Write a python program to scrape product name, price and discounts.

In [18]:
getdata=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
soup=BeautifulSoup(getdata.content)

In [19]:
proname=soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")

In [20]:
propri=soup.find_all('h5',class_='Text__StyledText-sc-oo0kvp-0 hiHdyy')

In [21]:
prodis=soup.find_all('div',class_='Card__BaseCard-sc-b3n78k-0 iJCKg NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG')

In [22]:
allproname=[]
for i in soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS'):
    allproname.append(i.text)

In [23]:
allpropri=[]
for i in soup.find_all('h5',class_='Text__StyledText-sc-oo0kvp-0 hiHdyy'):

    allpropri.append(i.text)

In [24]:
allprodis=[]
for i in soup.find_all('div',class_='Card__BaseCard-sc-b3n78k-0 iJCKg NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG'):
    allprodis.append(i.text.replace('on 1st order',''))

In [25]:
import pandas as pd
df=pd.DataFrame({'Name':allproname,'Price':allpropri,'Discount':allprodis})

5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [26]:
getdata=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(getdata.content)

In [27]:
team=[]
for i in soup.find_all('span',class_="u-hide-phablet")[:10]:
    team.append(i.text)

In [28]:


matches = []

for i in soup.find_all('td',class_="table-body__cell u-center-text")[:18]:

    matches.append(i.text)

In [29]:
matches    

match1 = []

for i in range(0,len(matches),2)[:18]:

    match1.append(matches[i])

In [30]:
matches    

match2 = []

for i in range(1,len(matches),2)[:18]:

    match2.append(matches[i])

In [31]:
match3 = []

for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:

    match3.append(i.text)

In [32]:

matchwin = []

for i in soup.find_all('td',class_="rankings-block__banner--matches"):

    matchwin.append(i.text)

In [33]:
matchpoint = []

for i in soup.find_all('td',class_="rankings-block__banner--points"):

    matchpoint.append(i.text)

In [34]:
matchrate = []

for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):

    matchrate.append(i.text.replace(' ','').replace('\n',''))

In [35]:
finmatchwin=matchwin+match1

In [36]:
finmatchpo=matchpoint+match2

In [37]:
finmatchrate=matchrate+match3

In [38]:
import pandas as pd
df=pd.DataFrame({'Team':team,'Matchs':finmatchwin,'Points':finmatchpo,'Rate':finmatchrate})

df

           Team Matchs Points Rate
0   New Zealand     17  2,054  121
1       England     32  3,793  119
2     Australia     28  3,244  116
3         India     38  4,162  110
4  South Africa     28  2,943  105
5      Pakistan     27  2,524   93
6    Bangladesh     33  2,988   91
7     Sri Lanka     35  2,835   81
8   West Indies     36  2,788   77
9   Afghanistan     23  1,562   68

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [39]:
getdata2=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(getdata2.content)

teamb=[]
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    teamb.append(i.text)

matchb = []
for i in soup.find_all('td',class_="table-body__cell rating")[:9]:
    matchb.append(i.text)

    
recb = []
for i in soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")[:9]:
    recb.append(i.text.replace('\n','').replace(' ',''))
    
nameb = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name")[:9]:
    nameb.append(i.text.replace('\n',''))

    
winb = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    winb.append(i.text)
    
    
wintb = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wintb.append(i.text.replace('\n','').replace(' ',''))

    
winpb = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    winpb.append(i.text.replace('\n','').replace(' ',''))

    
winrb = []
for i in soup.find_all('span',class_="rankings-block__career-best-text"):
    winrb.append(i.text.replace(' ','').replace('\n',''))

finname=winb+nameb
finteam=wintb+teamb
finpo=winpb+matchb
finrec=winrb+recb


import pandas as pd
df=pd.DataFrame({'player name':finname,'Team':finteam,'Points':finpo,'Record':finrec})
df

             player name Team Points                     Record
0             Babar Azam  PAK    873     873vEngland,13/07/2021
1            Virat Kohli  IND    811     911vEngland,12/07/2018
2        Quinton de Kock   SA    796    813vSriLanka,10/03/2019
3           Rohit Sharma  IND    791    885vSriLanka,06/07/2019
4            Aaron Finch  AUS    779     798vEngland,25/06/2019
5  Rassie van der Dussen   SA    776  776vBangladesh,20/03/2022
6         Jonny Bairstow  ENG    775       796vIndia,26/03/2021
7           David Warner  AUS    762    880vPakistan,26/01/2017
8           Fakhar Zaman  PAK    741     779vEngland,08/07/2021
9               Joe Root  ENG    740    824vSriLanka,13/10/2018


c) Top 10 ODI bowlers along with the records of their team and rating.

In [40]:
getdata3=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup1=BeautifulSoup(getdata3.content)

namew=[]
for i in soup1.find_all('td',class_="table-body__cell rankings-table__name name")[:9]:
    namew.append(i.text)

matchw = []
for i in soup1.find_all('td',class_="table-body__cell rating")[:9]:
    matchw.append(i.text)

    
recw = []
for i in soup1.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")[:9]:
    recw.append(i.text.replace('\n','').replace(' ',''))
    
teamw = []
for i in soup1.find_all('span',class_="table-body__logo-text")[:9]:
    teamw.append(i.text.replace('\n',''))

    
winw = []
for i in soup1.find_all('div',class_="rankings-block__banner--name-large"):
    winw.append(i.text)
    
    
wintw = []
for i in soup1.find_all('div',class_="rankings-block__banner--nationality"):
    wintw.append(i.text.replace('\n','').replace(' ',''))

    
winpw = []
for i in soup1.find_all('div',class_="rankings-block__banner--rating"):
    winpw.append(i.text.replace('\n','').replace(' ',''))

    
winrw = []
for i in soup1.find_all('span',class_="rankings-block__career-best-text"):
    winrw.append(i.text.replace(' ','').replace('\n',''))

finnamew=winw+namew
finteamw=wintw+teamw
finpow=winpw+matchw
finrecw=winrw+recw


import pandas as pd
df=pd.DataFrame({'player name':finnamew,'Team':finteamw,'Points':finpow,'Record':finrecw})
df

            player name Team Points                     Record
0           Trent Boult   NZ    737  770vWestIndies,22/06/2019
1    \nJosh Hazlewood\n  AUS    709     733vEngland,26/01/2018
2      \nChris Woakes\n  ENG    700    711vSriLanka,04/07/2021
3        \nMatt Henry\n   NZ    691  691vBangladesh,26/03/2021
4  \nMujeeb Ur Rahman\n  AFG    681     712vIreland,24/01/2021
5    \nJasprit Bumrah\n  IND    679  841vWestIndies,01/11/2018
6      \nMehedi Hasan\n  BAN    664    725vSriLanka,25/05/2021
7     \nKagiso Rabada\n   SA    658     724vEngland,29/05/2017
8    \nMitchell Starc\n  AUS    652  783vNewZealand,29/03/2015
9       \nRashid Khan\n  AFG    650    806vPakistan,21/09/2018

6)write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [41]:
getdata3=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(getdata3.content)

In [42]:
teamwo=[]
for i in soup.find_all('span',class_="u-hide-phablet")[:10]:
    teamwo.append(i.text)

In [43]:
matchwo=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text")[:18]:
    matchwo.append(i.text)

In [44]:
matchwo   

match1wo = []

for i in range(0,len(matchwo),2)[:18]:

    match1wo.append(matchwo[i])

In [45]:
matchwo   

match2wo = []

for i in range(1,len(matchwo),2)[:18]:

    match2wo.append(matchwo[i])

In [46]:
ratewo=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]:
    ratewo.append(i.text)

In [47]:
wowinra=[]
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right")[:9]:
    wowinra.append(i.text.replace('\n','').replace(' ',''))

In [48]:
wowinma=[]
for i in soup.find_all('td',class_="rankings-block__banner--matches")[:9]:
    wowinma.append(i.text)

In [49]:
wowinpo=[]
for i in soup.find_all('td',class_="rankings-block__banner--points")[:9]:
    wowinpo.append(i.text)

In [50]:
finwoma=wowinma+match1wo

In [51]:
finwopo=wowinpo+match2wo

In [52]:
finwora=wowinra+ratewo

In [53]:
import pandas as pd
df=pd.DataFrame({'Team name':teamwo,'Match':finwoma,'Point':finwopo,'Rate':finwora})
df

      Team name Match  Point Rate
0     Australia    20  3,263  163
1  South Africa    21  2,580  123
2       England    21  2,474  118
3         India    22  2,221  101
4   New Zealand    24  2,342   98
5    Bangladesh     5    475   95
6   West Indies    21  1,801   86
7      Pakistan    19  1,304   69
8       Ireland     5    240   48
9     Sri Lanka     5    233   47

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [54]:
getdatawo=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup=BeautifulSoup(getdatawo.content)

teambw=[]
for i in soup.find_all('span',class_="table-body__logo-text")[:9]:
    teambw.append(i.text)

matchbw = []
for i in soup.find_all('td',class_="table-body__cell rating")[:9]:
    matchbw.append(i.text)

    
recbw = []
for i in soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")[:9]:
    recbw.append(i.text.replace('\n','').replace(' ',''))
    
namebw = []
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name")[:9]:
    namebw.append(i.text.replace('\n',''))

    
winbw = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    winbw.append(i.text)
    
    
wintbw = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    wintbw.append(i.text.replace('\n','').replace(' ',''))

    
winpbw = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    winpbw.append(i.text.replace('\n','').replace(' ',''))

    
winrbw = []
for i in soup.find_all('span',class_="rankings-block__career-best-text"):
    winrbw.append(i.text.replace(' ','').replace('\n',''))

finnamew=winbw+namebw
finteamw=wintbw+teambw
finpow=winpbw+matchbw
finrecw=winrbw+recbw


import pandas as pd
df=pd.DataFrame({'player name':finnamew,'Team':finteamw,'Points':finpow,'Record':finrecw})
df

         player name Team Points                     Record
0       Alyssa Healy  AUS    730       776vIndia,21/09/2021
1        Beth Mooney  AUS    725     734vEngland,03/02/2022
2    Laura Wolvaardt   SA    720       725vIndia,07/03/2021
3        Meg Lanning  AUS    715  834vNewZealand,24/02/2016
4     Rachael Haynes  AUS    712  713vWestIndies,15/03/2022
5     Natalie Sciver  ENG    705       712vIndia,25/02/2019
6     Tammy Beaumont  ENG    701       791vIndia,27/06/2021
7  Amy Satterthwaite   NZ    696   756vAustralia,02/03/2017
8        Mithali Raj  IND    696   839vAustralia,24/12/2004
9    Smriti Mandhana  IND    663     797vEngland,28/02/2019

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [55]:
getdatawb=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
soup1=BeautifulSoup(getdatawb.content)

namewb=[]
for i in soup1.find_all('td',class_="table-body__cell rankings-table__name name")[:9]:
    namewb.append(i.text.replace('\n',''))

matchwb = []
for i in soup1.find_all('td',class_="table-body__cell rating")[:9]:
    matchwb.append(i.text)

    
recwb = []
for i in soup1.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")[:9]:
    recwb.append(i.text.replace('\n','').replace(' ',''))
    
teamwb = []
for i in soup1.find_all('span',class_="table-body__logo-text")[:9]:
    teamwb.append(i.text.replace('\n',''))

    
winwb = []
for i in soup1.find_all('div',class_="rankings-block__banner--name-large"):
    winwb.append(i.text)
    
    
wintwb = []
for i in soup1.find_all('div',class_="rankings-block__banner--nationality"):
    wintwb.append(i.text.replace('\n','').replace(' ',''))

    
winpwb= []
for i in soup1.find_all('div',class_="rankings-block__banner--rating"):
    winpwb.append(i.text.replace('\n','').replace(' ',''))

    
winrwb = []
for i in soup1.find_all('span',class_="rankings-block__career-best-text"):
    winrwb.append(i.text.replace(' ','').replace('\n',''))

finnamewb=winwb+namewb
finteamwb=wintwb+teamwb
finpowb=winpwb+matchwb
finrecwb=winrwb+recwb


import pandas as pd
df=pd.DataFrame({'player name':finnamewb,'Team':finteamwb,'Points':finpowb,'Record':finrecwb})
df

         player name Team Points                     Record
0  Sophie Ecclestone  ENG    773  773vNewZealand,20/03/2022
1      Jess Jonassen  AUS    726  808vNewZealand,10/04/2021
2       Megan Schutt  AUS    716  766vWestIndies,11/09/2019
3     Shabnim Ismail   SA    713       743vIndia,07/03/2021
4     Marizanne Kapp   SA    688  749vWestIndies,10/09/2021
5     Ayabonga Khaka   SA    680  680vNewZealand,17/03/2022
6     Jhulan Goswami  IND    674     796vEngland,28/02/2007
7       Ellyse Perry  AUS    648  719vWestIndies,05/09/2019
8    Hayley Matthews   WI    643  644vBangladesh,18/03/2022
9         Kate Cross  ENG    623  623vNewZealand,20/03/2022

7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

In [56]:
pagew = requests.get("https://coreyms.com")
pagew

In [99]:
soup=BeautifulSoup(pagew.content)

In [100]:
articlesw=[]
for i in soup.find_all('h2','entry-title'):
    articlesw.append(i.text)

In [101]:
datew=[]
for i in soup.find_all('time',class_="entry-time"):
    datew.append(i.text)

In [102]:
articles = soup.find_all('article')

for article in articles:

    try:

        youtube_link = div_block.find("iframe", class_="youtube-player")['src']

        video_code = youtube_link.split("?")[0].split("/")[-1]

    except:

        video_code ="NA"

In [103]:
contentw=[]
for i in soup.find_all('div',class_="entry-content"):
    contentw.append(i.text.replace('\n',''))

In [104]:

import pandas as pd
df=pd.DataFrame({'Article name':articlesw,'date':datew,'content':contentw,'video':video_code})
df

,Article name,date,content,video
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",NA
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",NA
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",NA
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",NA
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,NA
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",NA
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",NA
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",NA
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",NA
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",NA

8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
Rajaji Nagar.

In [63]:
page5 = requests.get("https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar")
page5

In [64]:
soup = BeautifulSoup(page5.content)

In [65]:
htitle=[]
for i in soup.find_all('span',class_='overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'):
    htitle.append(i.text)

In [66]:
hdata=[]
for i in soup.find_all('div',class_='font-semi-bold heading-6'):
    hdata.append(i.text)

In [67]:
hemi=[]

for i in range(1,len(hdata),3):
    hemi.append(hdata[i])

In [68]:
harea=[]

for i in range(0,len(hdata),3):
    harea.append(hdata[i])

In [69]:
hprice=[]

for i in range(2,len(hdata),3):
    hprice.append(hdata[i])

In [70]:
hloc=[]
for i in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    hloc.append(i.text.replace('\xa0',','))

In [71]:

import pandas as pd
df=pd.DataFrame({'home title':htitle,'location':hloc,'area':harea,'price':hprice,'EMI':hemi})
df

,home title,location,area,price,EMI
0,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...","1,301 sqft",₹1.5 Crores,"₹85,971/Month"
1,4 BHK In Independent House For Sale In Jayan...,"Independent House, SBI Branch Jayanagar 9th bl...","2,600 sqft",₹2.7 Crores,₹1.55 Lacs/Month
2,3 BHK Flat For Sale In Benaka Apartments In ...,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...","1,331 sqft",₹85 Lacs,"₹48,717/Month"
3,4+ BHK In Independent House For Sale In Prak...,"Independent House, 6th C cross 3rd main rd nea...","2,200 sqft",₹1.35 Crores,"₹77,374/Month"
4,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway, Dr Rajkumar Road, Rajaji Naga...","1,640 sqft",₹2.62 Crores,₹1.5 Lacs/Month


9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [72]:
hote=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
soup=BeautifulSoup(hote.content)

In [73]:
honame=soup.find_all('div',class_="restnt-info cursor")

In [74]:
holoc=soup.find_all('div',class_="restnt-loc ellipsis")

In [75]:
hopri=soup.find_all('span',class_="double-line-ellipsis")

In [76]:
allname=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    allname.append(i.text)

In [77]:
allloc=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    allloc.append(i.text)

In [78]:
allprice=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    allprice.append(i.text.replace('₹',''))

In [79]:
hoimg=soup.find_all('img',class_="no-img")

In [80]:
allimg=[]
for i in soup.find_all('img',class_="no-img"):
    allimg.append(i['data-src'])

In [81]:
allrate=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    allrate.append(i.text)

In [82]:
print(len(allname),len(allloc),len(allprice),len(allimg),len(allrate))

13 13 13 13 13

In [83]:
import pandas as pd
df=pd.DataFrame({'name':allname,'loc':allloc,'price':allprice,'img_url':allimg,'rating':allrate})
df

,name,loc,price,img_url,rating
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","2,000 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,3.5
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","1,400 for 2 (approx) | North Indian, Asian, I...",https://im1.dineout.co.in/images/uploads/resta...,3.9
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","2,000 for 2 (approx) | Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...,3.9
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","3,000 for 2 (approx) | Italian, Continental",https://im1.dineout.co.in/images/uploads/resta...,4.3
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","1,700 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,4
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","2,400 for 2 (approx) | North Indian, Italian",https://im1.dineout.co.in/images/uploads/resta...,3.9
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","1,800 for 2 (approx) | North Indian",https://im1.dineout.co.in/images/uploads/resta...,3.7
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","1,900 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...,3.8
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad","1,800 for 2 (approx) | North Indian, Chinese,...",https://im1.dineout.co.in/images/uploads/resta...,4.2
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","2,000 for 2 (approx) | North Indian, Mughlai",https://im1.dineout.co.in/images/uploads/resta...,4.3
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",800 for 2 (approx) | North Indian,https://im1.dineout.co.in/images/uploads/resta...,3.6
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","1,500 for 2 (approx) | North Indian, Mughlai,...",https://im1.dineout.co.in/images/uploads/resta...,4.2
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","3,400 for 2 (approx) | European, Italian, Asi...",https://im1.dineout.co.in/images/uploads/resta...,4

10.Write a python program to scrape first 10 product details which include product name , price , Image URL from bewakoof.

In [84]:
page = requests.get("https://www.bewakoof.com/women-t-shirts?ga_q=t-shirt%20for%20wo")
page

In [85]:
soup=BeautifulSoup(page.content)

In [86]:
shopt=soup.find_all(['h3'])

allshopt=[]
for i in soup.find_all(['h3'])[:10]:
    allshopt.append(i.text)

In [87]:
shopt=soup.find_all(['b'])

allshoptpri=[]
for i in soup.find_all(['b'])[:10]:
    allshoptpri.append(i.text.replace('₹',''))

In [88]:
image_url = []

for i in soup.find_all('img',class_="productImgTag")[:10]: 

    image_url.append(i.get('src'))

In [89]:
import pandas as pd
df=pd.DataFrame({'name':allshopt,'price':allshoptpri,'image':image_url})
df

,name,price,image
0,Happy Today Boyfriend T-Shirt,399,https://images.bewakoof.com/t320/happy-today-b...
1,Women's True Indigo Printed T-Shirt,379,https://images.bewakoof.com/t320/women-s-true-...
2,Sprinkles Half Sleeves AOP T-Shirts,349,https://images.bewakoof.com/t320/sprinkles-hal...
3,Coral Blush Melange Color Block Raglan Melange...,319,https://images.bewakoof.com/t320/coral-blush-m...
4,Grey Melange Color Block Raglan T-Shirt,349,https://images.bewakoof.com/t320/grey-melange-...
5,Ice Water Blue Half Sleeves Tape T-Shirt,319,https://images.bewakoof.com/t320/ice-water-blu...
6,Black-Quiet Grey Half Sleeves Tape T-Shirt,349,https://images.bewakoof.com/t320/black-quiet-g...
7,Chili Pepper Half Sleeves Tape T-shirt,319,https://images.bewakoof.com/t320/chili-pepper-...
8,Extra Fries Half Sleeve Printed T-Shirt Black,349,https://images.bewakoof.com/t320/extra-fries-h...
9,Women's White Extra Fries Boyfriend T-shirt,319,https://images.bewakoof.com/t320/extra-fries-b...